#jumbotron {
    background: url("../IMG/young-couple-driving-convertible-at-sunset.jpg") no-repeat center / cover;
  }
.italic {font-family: 'Source Serif 4', sans-serif;}
.second {font-family: 'Poppins', sans-serif;}